<section class="center-vertical">
	<body>
	<form action="/renew/<%= @content.id %>" method="post">
	<p>コメントの更新<input type="text" name="comments" value="<%= @content.comments %>"></p>
	<input type="submit" value="更新">
	</form>
	</body>
</section>