<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<div class="login_button">
	</div>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>
<section class="center-vertical">
	<div class="post center-vertical">
		
		
		<% @postos.each do |music| %>
				<div>
				<img src="<%= music.jacket %>">
				<p><%= music.artist_name %> </p>
				<p><%= music.comments %></p>
				<p>投稿者<%= music.user_name %></p>
				<a href="#">フォローする</a>
				<a href="#">"フォロー解除</a><br>
				<a href="#">いいねする</a>
				<p>いいねしたユーザー<br></p>
				<img src="" alt="user_image" width="40" height="40">
			<%end %>
	
			<p>投稿がありません</p>
	
	</div>	
</section>
